.article {

    padding: 120px 0;
    width: 1000px;
    max-width: 100%;
    margin: auto;

    &__title {
        font-size: 32px;
        font-weight: 700;

        font-family: 'Josefin Sans', sans-serif;
    }

    &__author {
        font-style: italic;
        font-size: 13px;
    }

    &__content {
        margin-top: 50px;
    }

    & p {
        font-size: 16px;
        line-height: 120%;
    }

    & h2 {
        font-size: 18px;
        margin-top: 24px;
    }

    &__image {
        margin: 15px 0;
    }
}