.step {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid rgb(180, 180, 180);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;
    background: white;

    transition: all 0.3s;

    &_active {
        border-color: rgb(110, 175, 232);
    }
}